{% extends "base.html" %}

{% block content %}
    
    <div class="title-wrapper has-text-centered">
        <h2 class="title is-2 is-spaced">Login In</h2>
    </div>
    <div class="subtitle"></div>
    <div class="content-wrapper">
        <div class="columns">
            <div class="column is-4 is-offset-4">
                <form role="form" action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <p class="subtitle is-6">
                        {{ form.username.label(class="label") }}
                        {{ form.username(class="input") }}
                        {% for error in form.username.errors %}
                            <span style="color:red;">{{ error }}</span>
                        {% endfor %}
                    </p>
                    <p class="subtitle is-6">
                        {{ form.password.label(class="label") }}
                        {{ form.password(class="input") }}
                        {% for error in form.password.errors %}
                            <span style="color:red;">{{ error }}</span>
                        {% endfor %}
                    </p>
                    <p>{{ form.submit(class="button is-info") }}</p>
                </form>
                <br />
                <p>
                    Forgot Password?
                    <a href="{{ url_for('auth.reset_password_request') }}">Click here to reset it</a>
                </p>
            </div>
        </div>
    </div>
    
{% endblock %}