{% extends "base.html" %}

{% block content %}
    <h1>Add Classroom</h1>
    <h3><a href="{{ url_for('list_classrooms') }}">View list of Classrooms</a></h3>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.classroom_name.label }}<br/>
            {{ form.classroom_name(size=32) }}
            {% for error in form.classroom_name.errors %}
                <span style="color:red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.classroom_symbol.label }}
            {{ form.classroom_symbol(size=16) }}
            {% for error in form.classroom_symbol.errors %}
                <span style="color:red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
{% endblock %}