{% extends "base.html" %}

{% block content %}
    <div class="title-wrapper has-text-centered">
        <h2 class="title is-2 is-spaced">Add User</h2>
    </div>
    <h3 class="subtitle"><a href="{{ url_for('list_users') }}">View all users</a></h3>
    <div class="content-wrapper">
        <div class="columns">
            <div class="column is-4 is-offset-4">
                <form role="form" action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <p class="subtitle is-6">
                        {{ form.username.label(class="label") }}
                        {{ form.username(class="input") }}
                        {% for error in form.username.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </p>
                    <p class="subtitle is-6">
                        {{ form.email.label(class="label") }}
                        {{ form.email(class="input") }}
                        {% for error in form.email.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </p>
                    <p class="subtitle is-6">
                        {{ form.password.label(class="label") }}
                        {{ form.password(class="input") }}
                        {% for error in form.password.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </p>
                    <p class="subtitle is-6">
                        {{ form.password2.label(class="label") }}
                        {{ form.password2(class="input") }}
                        {% for error in form.password2.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </p>
                    <p class="subtitle is-6">
                        {{ form.roles.label(class="label") }}
                        {{ form.roles(class="select") }}
                        {% for error in form.roles.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </p>
                    <p>{{ form.submit(class="button is-info") }}</p>
                </form>
            </div>

        </div>
    </div>
    
{% endblock %}