{% extends "base.html" %}

{% block content %}
    <div class="title-wrapper has-text-centered">
        <h2 class="title is-2 is-spaced">Add Classroom</h2>
    </div>
    <h3 class="subtitle"><a href="{{ url_for('main.list_classrooms') }}">View list of Classrooms</a></h3>
    <div class="content-wrapper">
        <div class="columns">
            <div class="column is-4 is-offset-4">
                <form role="form" action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <p class="subtitle is-6">
                        {{ form.classroom_name.label(class="label") }}
                        {{ form.classroom_name(class="input") }}
                        {% for error in form.classroom_name.errors %}
                            <span style="color:red;">{{ error }}</span>
                        {% endfor %}
                    </p>
                    <p class="subtitle is-6">
                        {{ form.classroom_symbol.label(class="label") }}
                        {{ form.classroom_symbol(class="input") }}
                        {% for error in form.classroom_symbol.errors %}
                            <span style="color:red;">{{ error }}</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.submit(class="button is-info") }}
                    </p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}