{% extends "base.html" %}

{% block content %}
    <div class="title-wrapper has-text-centered">
        <h2 class="title is-2 is-spaced">Add Staff</h2>
    </div>
    <h3 class="subtitle"><a href="{{ url_for('list_staff') }}">View all Staff</a></h3>
    <div class="content-wrapper">
        <div class="columns">
            <div class="column is-4 is-offset-4">
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <p class="subtitle is-6">
                        {{ form.serial_number.label(class="label") }}
                        {{ form.serial_number(class="input") }}
                        {% for error in form.serial_number.errors %}
                            <span style="color:red;">{{ error }}</span>
                        {% endfor %}
                    </p>
                    <p class="subtitle is-6">
                        {{ form.firstname.label(class="label") }}
                        {{ form.firstname(class="input") }}
                        {% for error in form.firstname.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </p>
                    <p class="subtitle is-6">
                        {{ form.middlename.label(class="label") }}
                        {{ form.middlename(class="input") }}
                    </p>
                    <p class="subtitle is-6">
                        {{ form.surname.label(class="label") }}
                        {{ form.surname(class="input") }}
                        {% for error in form.surname.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </p>
                    <p class="subtitle is-6">
                        {{ form.gender.label(class="label") }}
                        {{ form.gender(class="select") }}
                        {% for error in form.gender.errors %}
                            <span style="color: red">{{ error }}</span>
                        {% endfor %}
                    </p>
                    <p class="subtitle is-6">
                        {{ form.birthday.label(class="label") }}
                        {{ form.birthday() }}
                        {% for error in form.birthday.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </p>
                    <p class="subtitle is-6">
                        {{ form.contact_number.label(class="label") }}
                        {{ form.contact_number(class="input") }}
                    </p>
                    <p class="subtitle is-6">
                        {{ form.email.label(class="label") }}
                        {{ form.email(class="input") }}
                        {% for error in form.email.errors %}
                            <span style="color: red">{{ error }}</span>
                        {% endfor %}
                    </p>
                    <p class="subtitle is-6">
                        {{ form.address.label(class="label") }}
                        {{ form.address(class="input") }}
                    </p>
                    <p> {{ form.submit(class="button is-info") }}</p>
                </form>
            </div>
        </div>
    </div>
    
{% endblock %}