{% extends "base.html" %}

{% block content %}
    <div class="title-wrapper has-text-centered">
        <h2 class="title is-2 is-spaced">Add Subject</h2>
    </div>
    <h3 class="subtitle"><a href="{{ url_for('main.list_subjects') }}">View available subjects</a></h3>
    <div class="content-wrapper">
        <div class="columns">
            <div class="column is-4 is-offset-4">
                <form role="form" action="" method="post">
                    {{ form.hidden_tag() }}
                    <p class="subtitle is-6">
                        {{ form.name.label(class="label") }}
                        {{ form.name(class="input") }}
                        {% for error in form.name.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </p>
                    <p class="subtitle is-6">
                        {{ form.code.label(class="label") }}
                        {{ form.code(class="input") }}
                        {% for error in form.code.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </p>
                    <p>{{ form.submit(class="button is-info") }}</p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}