<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
    <title>{{ title }} - Student Management Platform</title>
    {% else %}
    <title>Student Management Platform</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css')}}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>
<body>
    <nav class="bd-navbar navbar has-shadow is-spaced">
        <div class="container">
            <div class="navbar-brand">
                <a href="{{ url_for('index') }}"><img class="image is-96x96" src="{{ url_for('static', filename='images/tessy_badge.jpg') }}"></a>
            </div>
            <div class="navbar-end">
                <a href="{{ url_for('index') }}" class="navbar-item">Home</a>
                {% if current_user.is_anonymous %}
                <a href="{{ url_for('auth.login') }}" class="navbar-item">Login</a>
                {% elif current_user.is_authenticated and current_user.role.name == "User" %}
                <a href="{{ url_for('auth.logout') }}" class="navbar-item">Logout</a>
                {% elif current_user.is_authenticated and current_user.role.name == "Admin" %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">Admin</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="{{ url_for('add_user') }}">Add User</a>
                        <a class="navbar-item" href="{{ url_for('add_staff') }}">Add Staff</a>
                        <a class="navbar-item" href="{{ url_for('add_student') }}">Add Student</a>
                        <a class="navbar-item" href="{{ url_for('add_classroom') }}">Add Classroom</a>
                        <a class="navbar-item" href="{{ url_for('add_subject') }}">Add Subject</a>
                        <a class="navbar-item" href="{{ url_for('select_score_options') }}">Enter Student Scores</a>
                        <a class="navbar-item" href="{{ url_for('add_session') }}">Add School Session</a>
                    </div>
                </div>
                <a href="{{ url_for('auth.logout') }}" class="navbar-item">Logout</a>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="master-container">
        <section class="section">
            <div class="container">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li class="tag is-info is-light subtitle is-6">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% endwith %}
                {% block content %}{% endblock %}
            </div>
        </section>
    </div>
    <footer class="footer">
        <div class="container">
            &COPY;Tessy International School, 2020
        </div>
    </footer>
</body>
</html>