{% extends "base.html" %}
    
{% block content %}
    <div class="title-wrapper has-text-centered">
        <h2 class="title is-2">Edit - {{ subject.name }}</h2>
    </div>
    <div class="subtitle"></div>
    <div class="content-wrapper">
        <div class="columns is-centered">
            <div class="column is-3">
                <form role="form" action="" method="POST" novalidate>
                    {{ form.hidden_tag() }}
                    <p class="subtitle is-6">
                        {{ form.name.label(class="label") }}
                        {{ form.name(class="input") }}
                        {% for error in form.name.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </p>
                    <p class="subtitle is-6">
                        {{ form.code.label(class="label") }}
                        {{ form.code(class="input") }}
                        {% for error in form.code.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </p>
                    <div class="buttons level">
                        {{ form.submit(class="button is-info level-left") }}
                        <a href="{{ url_for('list_subjects') }}" class="button is-info level-right">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}