{% extends "base.html" %}

{% block content %}
    <div class="title-wrapper has-text-centered">
        <h2 class="title is-2">Edit Profile - {{ user.username }}</h2>
    </div>
    <div class="subtitle"></div>
    <div class="content-wrapper">
        <div class="columns is-centered">
            <div class="column is-3">
                <form role="form" action="" method="POST" novalidate>
                    {{ form.hidden_tag() }}
                    <p class="subtitle is-6">
                        {{ form.username.label(class="label") }}
                        {{ form.username(class="input", disabled=True) }}
                    </p>
                    <p class="subtitle is-6">
                        {{ form.email.label(class="label") }}
                        {{ form.email(class="input", disabled=True)}}
                    </p>
                    <p class="subtitle is-6">
                        {{ form.password.label(class="label") }}
                        {{ form.password(class="input") }}
                        {% for error in form.password.errors %}
                           <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </p>
                    <p class="subtitle is-6">
                        {{ form.password2.label(class="label") }}
                        {{ form.password2(class="input") }}
                        {% for error in form.password2.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </p>
                    <p class="subtitle is-6">
                        {{ form.is_active.label(class="label") }}
                        {{ form.is_active(class="select", value=user.is_active) }}
                        {% for error in form.is_active.errors %}
                            <span style="color:red;">{{ error }}</span>
                        {% endfor %}
                    </p>
                    <p class="subtitle is-6">
                        {{ form.roles.label(class="label") }}
                        {{ form.roles(class="select")}}
                    </p>
                    <div class="buttons level">
                        {{ form.submit(class="button is-info level-left") }}
                        <a href="{{ url_for('main.list_users') }}" class="button is-info level right">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}