{% extends "base.html" %}

{% block content %}
    <div>
        {% for user in staff %}
            <div>
                Staff No: {{ user.serial_number }} | Fullname: {{ user.firstname }} {{ user.surname }} | Gender: {{ user.gender }} | Contact No: {{ user.contact_number }} | Email: {{ user.email }} | <a href="{{ url_for('staff', id=user.id) }}">View</a>
            </div>
        {% endfor %}
        {% if prev_url %}
            <a href="{{ prev_url }}">Previous Page</a>
        {% endif %}
        {% if next_url %}
            <a href="{{ next_url }}">Next Page</a>
        {% endif %}
    </div>
{% endblock %}