{% extends "base.html" %}

{% block content %}
    <div class="title-wrapper has-text-centered">
        <h2 class="title is-2 is-spaced">Users</h2>
    </div>
    <div class="subtitle"></div>
    <div class="content-wrapper">
        <div class="columns is-centered">
            <div class="column is-four-fifths">
                <table class="table is-striped is-fullwidth">
                    <thead>
                        <tr>
                            <th class="has-text-centered">Username</th>
                            <th class="has-text-centered">Email</th>
                            <th class="has-text-centered">Role</th>
                            <th class="has-text-centered">Is Active</th>
                            <th class="has-text-centered">View User Profile</th>
                        </tr>
                    </thead>
                    {% for user in users %}
                    <tr>
                        <td class="has-text-centered">{{ user.username }}</td>
                        <td class="has-text-centered">{{ user.email }}</td>
                        <td class="has-text-centered">{{ user.role }}</td>
                        <td class="has-text-centered">{{ user.is_active }}</td>
                        <td class="has-text-centered"><a href="{{ url_for('main.user', id=user.id)}}">View</a></td>
                    </tr>
                    {% endfor %}
                </table>
                <nav class="pagination">
                    {% if prev_url %}
                    <a class="pagination-previous" href="{{ prev_url }}">Previous Page</a>
                    {% endif %}
                    {% if next_url %}
                    <a class="pagination-next" href="{{ next_url }}">Next Page</a>
                    {% endif %}
                </nav>
            </div>
        </div>
    </div>
    
{% endblock %}