{% extends "base.html" %}

{% block content %}
{% for student in students %}
<div>
    Fullname: {{ student.firstname }} {{ student.surname }} | Gender: {{ student.gender }} | {{
    student.display_classroom_symbol() }} | <a href="{{ url_for('student', id=student.id) }}">View Student</a>
</div>
{% endfor %}
<div>
    {% if next_url %}
    <a href="{{ next_url }}">Next Page</a>
    {% endif %}
    {% if prev_url %}
    <a href="{{ prev_url }}">Previous Page</a>
    {% endif %}
    {% endblock %}
</div>