{% extends "base.html" %}

{% block content %}
    <div class="title-wrapper has-text-centered">
        <h2 class="title">Reset Password</h2>
    </div>
    <div class="subtitle"></div>
    <div class="content-wrapper">
        <div class="columns is-centered">
            <div class="column is-3">
                <form role="form" action="" method="POST" novalidate>
                    {{ form.csrf_token() }}
                    <p class="subtitle is-6">
                        {{ form.password.label(class="label") }}
                        {{ form.password(class="input") }}
                        {% for error in form.password.errors %}
                            <span style="color: red;">{{error }}</span>
                        {% endfor %}
                    </p>
                    <p class="subtitle is-6">
                        {{ form.password2.label(class="label") }}
                        {{ form.password2(class="input") }}
                        {% for error in form.password2.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </p>
                    <p class="subtitle is-6">
                        {{ form.submit(class="button is-info") }}
                    </p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}