{% extends "base.html" %}

{% block content %}
<h1>Select options for student scores</h1>
<div>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.subject() }}
            {% for error in form.subject.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.classroom() }}
            {% for error in form.classroom.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.term() }}
            {% for error in form.term.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.sessions() }}
            {% for error in form.sessions.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</div>

{% endblock %}