{% extends "base.html" %}

{% block content %}
    <div class="title-wrapper has-text-centered">
        <h2 class="title is-2">Profile - {{ staff.firstname }} {{staff.surname }}</h2>
    </div>
    <div class="subtitle"></div>
    <div class="content-wrapper">
        <div class="columns is-centered">
            <div class="column is-4">
                <figure>
                    {% if staff.image_file_name %}
                    <img src="{{ url_for('static', filename='images/profile_pics/{}'.format(staff.image_file_name))}}" class="image is-128x128"/>
                    {% else %}
                    <img src="{{ staff.get_person_avatar(size=80) }}" />
                    {% endif %}
                    <div class="subtitle"></div>
                    <form action="{{url_for('main.upload_image', id=staff.id, obj_type='Staff') }}" method="POST" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                        <div class="file is-small">
                            <label class="file-label">
                                {{ form.image_file(class="file-input") }}
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fas fa-upload"></i>
                                    </span>
                                    <span class="file-label">
                                        Select file...
                                    </span>
                                </span>
                            </label>
                            &nbsp;{{ form.submit(class="button is-info is-small is-outlined") }}
                        </div>
                    </form>
                    <hr />
                </figure>
                <p class="subtitle is-6">
                    <span class="has-text-weight-bold">Staff No:</span> {{ staff.serial_number }}
                </p>
                <p class="subtitle is-6">
                    <span class="has-text-weight-bold">Firstname:</span> {{ staff.firstname }}
                </p>
                <p class="subtitle is-6">
                    <span class="has-text-weight-bold">Middlename:</span> {{staff.middlename }}
                </p>
                <p class="subtitle is-6">
                    <span class="has-text-weight-bold">Surname:</span> {{ staff.surname }}
                </p>
                <p class="subtitle is-6">
                    <span class="has-text-weight-bold">Date of Birth:</span> {{ staff.format_birthday() }}
                </p>
                <p class="subtitle is-6">
                    <span class="has-text-weight-bold">Contact No:</span> {{ staff.contact_number }}
                </p>
                <p class="subtitle is-6">
                    <span class="has-text-weight-bold">Email:</span> {{ staff.email }}
                </p>
                <p class="subtitle is-6">
                    <span class="has-text-weight-bold">Address:</span> {{ staff.address }}
                </p>
                <a class="button is-info" href="{{ url_for('main.edit_staff', id=staff.id) }}">Edit Staff</a>
            </div>
        </div>
    </div>
{% endblock %}