{% extends "base.html" %}

{% block content %}
    <div class="title-wrapper has-text-centered">
        <h2 class="title is-2">Profile - {{ staff.firstname }} {{staff.surname }}</h2>
    </div>
    <div class="subtitle"></div>
    <div class="content-wrapper">
        <div class="columns is-centered">
            <div class="column is-4">
                <figure>
                    <img src="{{ staff.get_person_avatar(size=80) }}" />
                    <hr />
                </figure>
                <p class="subtitle is-6">
                    <span class="has-text-weight-bold">Staff No:</span> {{ staff.serial_number }}
                </p>
                <p class="subtitle is-6">
                    <span class="has-text-weight-bold">Firstname:</span> {{ staff.firstname }}
                </p>
                <p class="subtitle is-6">
                    <span class="has-text-weight-bold">Middlename:</span> {{staff.middlename }}
                </p>
                <p class="subtitle is-6">
                    <span class="has-text-weight-bold">Surname:</span> {{ staff.surname }}
                </p>
                <p class="subtitle is-6">
                    <span class="has-text-weight-bold">Date of Birth:</span> {{ staff.format_birthday() }}
                </p>
                <p class="subtitle is-6">
                    <span class="has-text-weight-bold">Contact No:</span> {{ staff.contact_number }}
                </p>
                <p class="subtitle is-6">
                    <span class="has-text-weight-bold">Email:</span> {{ staff.email }}
                </p>
                <p class="subtitle is-6">
                    <span class="has-text-weight-bold">Address:</span> {{ staff.address }}
                </p>
                <a class="button is-info" href="{{ url_for('edit_staff', id=staff.id) }}">Edit Staff</a>
            </div>
        </div>
    </div>
{% endblock %}