<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css')}}">
    </head>
    <body>
        <img src="http://localhost:5000/static/images/tessy_badge.jpg" />
        <div class="title-wrapper has-text-centered">
            <h1 class="title is-2">{{ student.firstname }} {{ student.surname }} Report</h1>
        </div>
        <hr />
        <div class="subtitle"></div>
        <div class="content-wrapper">
            <div class="columns is-centered">
                <div class="column is-four-fifths">
                    {% include "includes/student_report_details.html" %}
                    {% include "includes/student_report_records.html" %}
                </div>
            </div>
        </div>
        
    </body>
</html>