{% extends "base.html" %}

{% block content %}
    <h1>{{ student.firstname }} {{ student.surname }} Profile</h1>
    <div>
        <img src="{{ student.get_person_avatar(size=80) }}" />
    </div>
    <div>
        <p>Student Admission No: {{ student.serial_number }}</p>
        <p>Firstname: {{ student.firstname }}</p>
        <p>Middlename: {{ student.middlename }}</p>
        <p>Surname: {{ student.surname }}</p>
        <p>Gender: {{ student.gender }}</p>
        <p>Date of Birth: {{ student.birthday }}</p>
        <p>Parent/Guardian Contact No: {{ student.contact_number }}</p>
        <p>Parent/Guardian Email: {{ student.email }}</p>
        <p>Parent/Guardian Name: {{ student.parent_guardian_name }}</p>
    </div>
{% endblock %}