{% extends "base.html" %}

{% block content %}
<p>Term: {{ term }}</p>
<p>Session: {{ sessions.session }}</p>
<p>Subject: {{ subject.name }}</p>
<p>Classroom: {{ classroom.classroom_symbol }}</p>
{% if students|length == 0 %}
        <b>No students found in {{ classroom.classroom_symbol }} taking {{ subject.name }}</b>
{% else %}
    <table>
        <thead>
        <th>Student Name</th>
        <th>CA Score</th>
        <th>Exam Score</th>
        <th>Action</th>
        </thead>
        {% for student in students %}
        <tr>
            <td>{{ student }}</td>
            <form action="" method="post" novalidate>
                {{ form.csrf_token() }}
                {{ form.student_id(value=student.id) }}
                {{ form.classroom_id(value=classroom.id) }}
                {{ form.subject_id(value=subject.id) }}
                {{ form.term(value=term) }}
                {{ form.sessions_id(value=sessions.id) }}
                <td>
                    {{ form.ca_score(size=5) }}
                    {% for error in form.ca_score.errors %}
                    <span style="color:red;">{{ error }}</span>
                    {% endfor %}
                </td>
                <td>
                    {{ form.exam_score(size=5) }}
                    {% for error in form.exam_score.errors %}
                    <span style="color:red;">{{ error }}</span>
                </td>
                <td>{{ form.submit() }}</td>
            </form>
        </tr>
        {% endfor %}
    </table>
{% endif %}
{% endblock %}