{% extends "base.html" %}

{% block content %}
    <div class="title-wrapper has-text-centered">
        <h2 class="title is-2">{{ user.username }} Profile</h2>
    </div>
    <div class="subtitle"></div>
    <div class="content-wrapper">
        <div class="columns is-centered">
            <div class="column is-4">
                <figure>
                    {% if user.image_file_name %}
                    <img src="{{ url_for('static', filename='images/profile_pics/{}'.format(user.image_file_name))}}" class="image is-128x128" />
                    {% else %}
                    <img src="{{ user.get_user_avatar(size=80) }}" />
                    {% endif %}
                    <div class="subtitle"></div>
                    <form action="{{url_for('main.upload_image', id=user.id, obj_type='User') }}" method="POST" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                        <div class="file is-small">
                            <label class="file-label">
                                {{ form.image_file(class="file-input") }}
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fas fa-upload"></i>
                                    </span>
                                    <span class="file-label">
                                        Select file...
                                    </span>
                                </span>
                            </label>
                            &nbsp;{{ form.submit(class="button is-info is-small is-outlined") }}
                        </div>
                    </form>
                    <hr />
                </figure>
                <p class="subtitle is-6">
                    <span class="has-text-weight-bold">Email:</span> {{ user.email }}
                </p>
                <p class="subtitle is-6">
                    <span class="has-text-weight-bold">Role:</span> {{ user.role }}
                </p>
                <p class="subtitle is-6">
                    <span class="has-text-weight-bold">Enabled/Disabled:</span> {% if user.is_active %} Enabled {% else %} Disabled {% endif %}
                </p>
                <a class="button is-info" href="{{ url_for('main.edit_user', id=user.id) }}">Edit User</a>
            </div>
        </div>
    </div>
{% endblock %}